.slider_menu___2XjDg{position:fixed;z-index:2;height:100vh;left:0;overflow-y:auto}.slider_menu___2XjDg .logo_wrapper___1q-1P{padding-left:24px;height:64px;line-height:64px;overflow:hidden;background:hsla(0,0%,100%,.2);transition:all .3s}.slider_menu___2XjDg .logo___Fc5Cx{display:inline-block;width:32px;vertical-align:middle;cursor:pointer}.slider_menu___2XjDg h1.name___39BGg{display:inline-block;color:#fff;font-weight:600;font-size:16px;font-family:Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;vertical-align:middle;letter-spacing:2px}
.header___2EkZM{display:-ms-flexbox;display:flex;position:fixed;z-index:1000;right:0;transition-duration:.2s;-ms-flex-pack:justify;justify-content:space-between;padding:0 20px 0 0;background:#fff;border-bottom:1px solid #f2f2f2}.header___2EkZM .name___3oikG{margin-left:15px}.header___2EkZM .trigger___2kxlQ{height:64px;padding:22px 24px;font-size:20px;cursor:pointer;transition:all .3s,padding 0s}.header___2EkZM .trigger___2kxlQ:hover{background:rgba(0,0,0,.025)}.header___2EkZM .notice___3iCvF{height:100%;cursor:pointer;position:absolute;right:148px;top:3px}
.btnItem___1YaEf .ant-btn+.ant-btn{margin-left:8px}.searchFilter___2o5Vi{margin-bottom:16px;border-bottom:1px solid #e9e9e9}.searchFilter___2o5Vi .ant-form-item{margin-bottom:16px}.searchFilter___2o5Vi .ant-form-item-label{line-height:31.9999px}.searchFilter___2o5Vi .ant-form-item-control{height:32px;line-height:32px}


.tableArea___3tgzO{padding:0 20px;width:80%}
.treeNodeArea___27PA4{position:relative;width:20%;overflow:auto}.tree___3ch5i{border:1px solid #e8e8e8;margin-top:20px;padding:0 10px;height:665px;overflow:auto}
.tableArea___12I3l{padding:0 20px;width:80%}
.treeNodeArea___2PAIl{position:relative;width:20%;overflow:auto}.tree___3ySo1{border:1px solid #e8e8e8;margin-top:20px;padding:0 10px;height:665px;overflow:auto}
.controlBar___1FFwG{width:658px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #d9d9d9;border-bottom:none;box-shadow:inset 0 -1px 0 0 rgba(0,0,0,.2)}.content___3UpTG{width:658px;border:1px solid #d9d9d9;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;height:200px}.ant-message{z-index:100000}.editorCustomStyle .bf-content{font-size:12px;color:rgba(0,0,0,.65)}.editorCustomStyle .public-DraftEditorPlaceholder-root{font-size:12px;color:#bfbfbf}.preview-modal___3yneS .ant-modal-confirm-content{margin-left:0!important}.container___5hPxW{box-sizing:border-box;width:1000px;max-width:100%;min-height:100%;margin:0 auto;padding:30px 20px;overflow:hidden}.container___5hPxW img{max-width:100%;height:auto}.container___5hPxW p{white-space:pre-wrap;min-height:1em}.container___5hPxW table,.container___5hPxW td,.container___5hPxW tr{border:1px solid #000}.container___5hPxW table{width:100%}





.tableArea___2nspa{padding:0 20px;width:80%}
.treeNodeArea___3Tl-e{position:relative;width:20%;overflow:auto}.tree___1yPMD{border:1px solid #e8e8e8;margin-top:20px;padding:0 10px;height:665px;overflow:auto}










/*# sourceMappingURL=layout__.2e64a0a9.chunk.css.map*/